<div id="covid_screening">
  <div id="covid_screening-overlay">
    <h1 id="covid_form_h1">COVID Screening Questionnaire</h1>
    <!-- Form -->
    <form class="pre-visit-form" method="get" action="./thankyou.liquid">
      <h2>Do you have any of the symptoms or signs?</h2>
      <!-- 1 -->
      <div class="row" id="group-1">
        <div class="col-12 col-md-5">
          <p>New or worsening cough</p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="cough" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="cough" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="cough" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="cough" />Heavy
          </label>
        </div>
      </div>

      <!-- 2 -->
      <div class="row" id="group-2">
        <div class="col-12 col-md-5">
          <p>Shortness of breath</p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="breath" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="breath" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="breath" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="breath" />Heavy
          </label>
        </div>
      </div>

      <!-- 3 -->
      <div class="row" id="group-3">
        <div class="col-12 col-md-5">
          <p>Sore throat</p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="Sore-throat" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Sore-throat" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Sore-throat" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Sore-throat" />Heavy
          </label>
        </div>
      </div>

      <!-- 4 -->
      <div class="row" id="group-4">
        <div class="col-12 col-md-5">
          <p>
            Runny nose, sneezing or nasal congestion (in absence of underlying
            reasons for symptoms such as seasonal allergies and post nasal drip)
          </p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="Runny-nose" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Runny-nose" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Runny-nose" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Runny-nose" />Heavy
          </label>
        </div>
      </div>

      <!-- 5-->
      <div class="row" id="group-5">
        <div class="col-12 col-md-5">
          <p>Hoarse voice</p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="Hoarse-voice" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Hoarse-voice" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Hoarse-voice" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Hoarse-voice" />Heavy
          </label>
        </div>
      </div>

      <!-- 6 -->
      <div class="row" id="group-6">
        <div class="col-12 col-md-5">
          <p>Difficulty swallowing</p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="Difficulty-swallowing" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Difficulty-swallowing" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Difficulty-swallowing" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Difficulty-swallowing" />Heavy
          </label>
        </div>
      </div>

      <!-- 7 -->
      <div class="row" id="group-7">
        <div class="col-12 col-md-5">
          <p>New smell or taste disorder(s)</p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="taste-disorder" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="taste-disorder" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="taste-disorder" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="taste-disorder" />Heavy
          </label>
        </div>
      </div>

      <!-- 8 -->
      <div class="row" id="group-8">
        <div class="col-12 col-md-5">
          <p>Nausea/vomiting, diarrhea, abdominal pain</p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="Nausea-vomiting" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Nausea-vomiting" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Nausea-vomiting" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Nausea-vomiting" />Heavy
          </label>
        </div>
      </div>

      <!-- 9 -->
      <div class="row" id="group-9">
        <div class="col-12 col-md-5">
          <p>Unexplained fatigue/malaise</p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="fatigue-malaise" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="fatigue-malaise" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="fatigue-malaise" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="fatigue-malaise" />Heavy
          </label>
        </div>
      </div>

      <!-- 10 -->
      <div class="row" id="group-10">
        <div class="col-12 col-md-5">
          <p>Chills</p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="Chills" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Chills" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Chills" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Chills" />Heavy
          </label>
        </div>
      </div>

      <!-- 11-->
      <div class="row" id="group-11">
        <div class="col-12 col-md-5">
          <p>Headache</p>
        </div>
        <div class="col-2 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="Headache" required />No
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Headache" />Slight
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Headache" />Medium
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="Headache" />Heavy
          </label>
        </div>
      </div>

      <br />
      <br />
      <br />
      <!-- 12-->
      <div class="row" id="group-12">
        <div class="col-12 col-md-5">
          <p>
            Have you travelled outside of Canada or had close contact with
            anyone that has travelled outside of Canada in the past 14 days?
          </p>
        </div>
        <div class="col-3 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="travelled-outside" />Yes
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="travelled-outside" required />NO
          </label>
        </div>
      </div>

      <!-- 13-->
      <div class="row" id="group-13">
        <div class="col-12 col-md-5">
          <p>Do you have a fever?</p>
        </div>
        <div class="col-3 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="fever" />Yes
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="fever" required />No
          </label>
        </div>
      </div>
      <!-- 14-->
      <div class="row" id="group-14">
        <div class="col-12 col-md-5">
          <p>
            Have you had close contact with anyone with respiratory illness or a
            confirmed or probable case of COVID-19?
          </p>
        </div>
        <div class="col-3 col-md-1">
          <label class="radio-inline">
            <input type="radio" name="close-contact" />Yes
          </label>
        </div>
        <div class="col-3 col-md-2">
          <label class="radio-inline">
            <input type="radio" name="close-contact" required />No
          </label>
        </div>
      </div>

      <button type="submit" class="btn button">Send</button>
    </form>
  </div>
</div>
