<div id="main">
  <div class="header">
    <div class="content">
      <h2 id="main-header">Welcome to Salon<B>Everywhere</B></h2>
      <p>please enter your clients email or phone number.</p>

      {% include_form 'pre_appointment' %}
    </div>
  </div>
</div>
