<div id="thank-you">
  <div id="thank-you-overlay">
    <div id="thank-you-content"></div>
    <h1>Thank you for Doing Your Part to Stop the Spread of COVID-19</h1>
    <h2>Stay safe!</h2>
  </div>
</div>
